.scroll-pane{
    -fx-background-color:transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.button {
    -fx-background-radius: 10 10 10 10;
}

.scroll-pane .scroll-bar .increment-button {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track-background {
    -fx-background-color: #faebd7;
    -fx-background-radius: 0 10 10 0;
}

.combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4 ;
    -fx-background-color: cyan;
}